.ad-box {
  min-height: 100vh;
  margin-top: 50px;
}

.categoriesList > li {
  cursor: pointer;
  margin-bottom: 10px;
}
.categoriesList > li:hover {
  color: #157347;
  text-decoration: underline;
}

.selectedCategory {
  color: #157347;
  text-decoration: underline;
  font-weight: bold;
}

.categoriesList {
  list-style: none;
}
